@charset "utf-8";
.header {
  height: 0.88rem;
  display: flex;
  justify-content: space-between;
  background: #f26b11;
  align-items: center;
  padding: 0.4rem 0.23rem 0;
}
.header em {
  width: 0.16rem;
  height: 0.28rem;
  display: block;
  background: url(../../assets/images/arrowLeft2.jpg);
}
.header h3 {
  font-size: 0.34rem;
  color: white;
}
.header .memu .one {
  background: white;
}
.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}
.top .yu {
  width: 1.63rem;
  border-right: 1px solid #d8d8d8;
  height: 11.5rem;
  margin-top: 0.4rem;
}
.top .yu li {
  height: 0.52rem;
  border-left: 0.08rem solid transparent;
  margin-bottom: 0.34rem;
}
.top .yu li a {
  display: inline-block;
  font: 0.26rem/0.52rem "微软雅黑";
  color: #5a5a5a;
  margin-left: 0.38rem;
}
.top .yu .active {
  border-left: 0.08rem solid #f26b11;
}
.top .yu .active a {
  color: #f5844c;
}
.top .right .right1 {
  margin-left: 0.27rem;
  width: 5.16rem;
  margin-right: 0.44rem;
}
.top .right .right1 .ma {
  display: flex;
  justify-content: space-between;
}
.top .right .right1 .ma h5 {
  font: 0.26rem/0.52rem "微软雅黑";
  color: #474747;
}
.top .right .right1 .ma p {
  font: 0.23rem/0.52rem "微软雅黑";
  color: #474747;
  position: relative;
  padding-right: 0.17rem;
}
.top .right .right1 .ma p em {
  display: block;
  width: 0.17rem;
  height: 0.16rem;
  background: url(../images/jiao.jpg) no-repeat;
  background-size: 0.17rem 0.16rem;
  position: absolute;
  right: 0;
  top: 0.18rem;
}
.top .right .right1 .conter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  margin-top: 0.34rem;
}
.top .right .right1 .conter a {
  display: inline-block;
}
.top .right .right1 .conter a img {
  width: 1.15rem;
  height: 1.15rem;
}
.top .right .right1 .conter a .xin {
  width: 0.75rem;
  height: 1.33rem;
}
.top .right .right1 .conter p {
  font: 0.23rem/0.68rem "微软雅黑";
  color: #898989;
}
